<form class="w-11/12 max-w-lg mx-auto my-10" name="contact" method="POST" action="/danke/" netlify>
    <div class="mb-6">  
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ihr Name</label>
        <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Vorname, Name" required>
    </div>

    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ihre E-Mail</label>
        <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="meine@email.com" required>
    </div>

    <div class="mb-6">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ihre Nachricht</label>
        <textarea id="message" name="message" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Was möchten Sie uns mitteilen? Für welches Produkt interessieren Sie sich?" required></textarea>
    </div>

    <button type="submit" class="rounded-md border border-eisfuchs-blue text-eisfuchs-blue hover:bg-eisfuchs-blue hover:text-white font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center">Absenden</button>
</form>
