{% if product.name !== "Thermobox" %}
    <table class="table-auto w-full mt-5 font-light">
        <thead>
            <tr class="text-left">
                <th>Gewicht</th>
                <th>Netto</th>
                <th>Brutto</th>
            </tr>
        </thead>
        <tbody>
            {% for item in product.pricing %}
                <tr>
                    <td>bis {{ item.weight }} kg</td>
                    {% if item.weight >= 90 %}
                        <td>Auf Anfrage</td>
                        <td>Auf Anfrage</td>
                    {% else %}
                        <td>{{ item.netto }}{% if item.netto|string|length == 3 %}0 {% endif %} € / kg</td>
                        <td>{{ item.brutto }} {% if item.brutto|string|length == 3 %}0 {% endif %} € / kg</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}

    <table class="table-auto w-full mt-5 font-light">
        <thead>
            <tr class="text-left">
                <th>Dauer</th>
                <th>Netto</th>
                <th>Brutto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Verleih für {{ product.pricing.duration }} Stunden</td>
                <td>Auf Anfrage</td>
                <td>Auf Anfrage</td>
            </tr>
        </tbody>
    </table>

    <p class="bg-rose-400 p-5 mt-6 text-white rounded-lg">Bei Verlust, Verschmutzung oder Beschädigung berechnen wir <b>{{product.pricing.deposit}}</b> €.<p>

{% endif %}
