<table class="table-auto w-full mt-5 font-light">
    <thead>
        <tr class="text-left">
            <th>Gewicht</th>
            <th>Netto</th>
            <th>Brutto</th>
        </tr>
    </thead>
    <tbody>
        {% for item in shipping.costs %}
            <tr>
                <td>bis {{ item.weight }} kg
                </td>
                {% if item.weight >= 90 %}
                    <td>Auf Anfrage</td>
                    <td>Auf Anfrage</td>
                {% else %}
                    {% if item.netto|string|length == 2 %}
                        {% set priceNet = item.netto|string + ".00" %}
                    {% elif item.netto|string|length == 4 %}
                        {% set priceNet = item.netto|string + "0" %}
                    {% else %}
                        {% set priceNet = item.netto %}
                    {% endif %}
                    <td>{{ priceNet }} €</td>
                    {% if item.brutto|string|length == 2 %}
                        {% set priceBrut = item.brutto|string + ".00" %}
                    {% elif item.brutto|string|length == 4 %}
                        {% set priceBrut = item.brutto|string + "0" %}
                    {% else %}
                        {% set priceBrut = item.brutto %}
                    {% endif %}
                    <td>{{ priceBrut }} €</td>
                {% endif %}
            </tr>   
        {% endfor %}
    </tbody>
</table>