<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Eisfuchs - Dein Eis für Leipzig",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Volbedingstraße 2",
        "addressLocality": "Leipzig",
        "addressRegion": "SN",
        "postalCode": "04357",
        "addressCountry": "DE"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": 51.36286375172536,
        "longitude": 12.404531483916035
    },
    "url": "https://www.eisfuchs-leipzig.de/",
    "telephone": "+49 157 38307268",
    "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "http://schema.org/Monday",
            "http://schema.org/Friday"
          ],
          "opens": "09:00",
          "closes": "19:00"
        }
    ],
    "image": "https://www.eisfuchs-leipzig.de/image.jpg" // Ensure this URL points to a relevant business image
}
</script>