---
pageTitle: Eisfuchs - Dein Eis für Leipzig
---
<!doctype html>
<html lang="en">
  {% include "../components/head.njk" %}
  <body>
    {% include "../components/navigation.njk" %}
    {{ content | safe }}
    
    <!-- Footer -->
    {% include "../components/footer.njk" %}
    <!-- Scripts -->
    {% include "../components/scripts.njk" %}
  </body>
</html>
