---
title: Kontakt
layout: layouts/base.njk
permalink: /kontakt/
eleventyNavigation:
  key: Kontakt
  order: 3
---

<div class="flex flex-col container mx-auto p-6"">
  <p class="font-light mb-4 text-sm">
  Eisfuchs - Dein Eis für Leipzig und Umgebung</br>
  Aline Lutz und Christiane Bachl GbR</br>Volbedingstraße 2</br>
  04357 Leipzig</br>
  </p>
  <p class="font-light mb-4 text-sm">Umsatzsteuer-Identifikationsnummer gemäß § 27 a</br>Umsatzsteuergesetz: UstID DE323545003</p>
  <p class="font-light text-sm"><i class="fa fa-phone-square"></i><a href="tel:015738307268"> Telefon <span>0157 38307268</span></a></p>
  <p class="font-light text-sm"><i class="fa fa-envelope-square"></i><a href="mailto:info@eisfuchs-leipzig.de"> info@eisfuchs-leipzig.de</a></p>
  <p class="font-light text-sm"><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/eisfuchs_leipzig/" target="_blank"> Instagram</a></p>
  <p class="font-light text-sm"><i class="fa-brands fa-facebook"></i><a href="https://www.facebook.com/eisfuchs.leipzig" target="_blank"> Facebook</a></p>
</div>