---
title: FAQ - Häufig gestellte Fragen
layout: layouts/base.njk
permalink: /faq/
eleventyExcludeFromCollections: false
eleventyNavigation:
  key: FAQ
  order: 3
---

<div class="content-page flex justify-center">
      <div class="felx flex-col items-center rounded-lg mt-10 lg:w-3/5 sm:w-11/12">
        <h2 class="text-xl font-bold text-eisfuchs-blue mb-4 text-center">FAQs</h2>
        {% include "components/faqs.njk" %}
      </div>
</div>