---
title: Impressum
layout: layouts/base.njk
permalink: /impressum/
eleventyNavigation:
  key: Impressum
  order: 1
  parent: FooterNav
---

<div class="content-page">

<div class="flex flex-col text-center">
        <p class="font-light mb-4">
          Eisfuchs - Dein Eis für Leipzig und Umgebung</br>
          Aline Lutz und Christiane Bachl GbR</br>
          Volbedingstraße 2</br>
          04357 Leipzig</br>
        </p>

        <p class="font-light mb-4">
          Umsatzsteuer-Identifikationsnummer gemäß § 27 a</br>
          Umsatzsteuergesetz: UstID DE323545003
        </p>


        <p class="font-light">
          <i class="fa fa-phone-square"></i>
          <a href="tel:015738307268">Telefon</a>
          <span>0157 38307268</span>
        </p>

        <p class="font-light">
          <i class="fa fa-envelope-square"></i>
          <a href="mailto:info@eisfuchs-leipzig.de">info@eisfuchs-leipzig.de</a>
        </p>
      </div>

</div>